.scroll-pane{
    -fx-background-color:transparent;
}

.scroll-pane > .viewport {
-fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background: #2b2b32; /* Background of the vertical scrollbar */
    -fx-pref-width: 12; /* Width of the vertical scrollbar */
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background: #2b2b32; /* Background of the horizontal scrollbar */
    -fx-pref-height: 0; /* Height of the horizontal scrollbar */
}